* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;   
}

body {
    margin: 0px;
    font-family: 'Roboto',sans-serif,Tahoma;
    background: #EAEBED;
    overflow-x: hidden;
    text-shadow: 1px 1px 1px #aaa;
    min-width: 910px;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {  
    50% { opacity: 0; }
}

.destaque {
    text-align: center;
    position: relative;
    height: 100%;
}

.destaque img {
    
}

.destaque .fakedivimg {
    box-shadow: 2px 2px 2px #ccc;
    width: 128px;
    max-width: 80%;
    margin: 0px auto;
    border-radius: 64px;
}

.destaque img {
    width: 100%;
}

.destaque .button {
    border: solid 1px #b9cbd7;
    margin: 0px auto;
    width: 150px;
    margin-top: 15px;
    padding: 10px 0px;
    box-shadow: 3px 3px 5px #8c97a3;
    background: white;
    cursor: pointer;
}

.menu>div {
    float:left;
    width: 25%;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
}

.menu .ativo {
    border-bottom: solid 3px #76C2AF;
}


.menu>div:hover {
    border-bottom: solid 2px #F5CF87;
}

.menu .ativo:hover {
    border-bottom: solid 3px #76C2AF; 
}

.destaques {
    margin-bottom: 5px;
    height: 370px;
}

.destaques .destaque {
    box-sizing: border-box;
    float: left;
    width: 33.3%;
    padding: 15px;
    border: solid 0px #eee;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.destaques .destaque:hover {
    background: #EAEBED;
}

#header {
    text-align: center; 
    background-color: #006989;
    box-shadow: 0px 5px 15px #8c97a3; 
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-top: 10px; 
    height: 180px; 
    padding-left: 10%;
}


#header #header_texto {
    float:left; 
    text-align: left; 
    padding-left: 10px;
    position: relative; 
    top: 50%; 
    transform: translate(0, -50%);  
    vertical-align: middle;
}

#header #header_logo {
    float:left; 
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3); 
    width: 160px;	
    margin: 0px auto; 
    border-radius: 80px;
}

#header_logo img {
    width: 160px;
}

h1 {
    margin: 0px;
    color: white;
    /*text-shadow: 1px 1px 1px black;*/
    font-size: 50px;
}

h2 {
    margin: 0px;
    color: white;
}

h3 {
    text-align: center;
    clear:both;
    font-size: 35px;
    color: #4F5D73 ;
}

h4 {
    
}

body {
    color: #333333;
}

.mainComponent {
    width: 80%;
    margin: 0 auto;
}

.menu {
    border-bottom: solid 1px #ccc;
    height: 25px;
    margin-top: 25px;
}